
body {
	background-color:#DDD;
}

h1,h2,h3,h4,h5 {
	font-family:Arial;
	line-height:1.3em;
	margin-top: 0.4em;
}

span, p, div, a {
	font-family:'Helvetica';
	font-size:11pt;
	line-height:1.2em;
}

p {
	text-align: justify;
	font-height: 15pt;
}

a {
	color:#666;
	text-decoration:none;
}

a:hover {
	color:#000;
}

button {
	margin-top: 2px;
}

.j_user_avatar {
	width:50px;
	height:auto;
}

.j_user_avatar_container {
	margin-top:0px;
	float:left;
	width:50px;
	height:50px;
	border-radius:2px;
	overflow:hidden;
    -webkit-transform: rotate(0deg); /* Chrome, Opera */
    transform: rotate(0deg);
}

.j_blog_header {
	text-align: center;
}

.j_blog_post_content, .j_login_form, .j_comment {
	margin-top:25px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #333;
	background-color: #FAFAFA;
}

.j_blog_post_content img {
	max-width: 100%;
}

.j_blog_post_written_by {
	opacity: 0.5;
	text-align: right;
}
