
h1,h2,h3,h4,h5 {
	font-family: serif;
	line-height: 1.3em;
}

/* Blog headers */
h3 {
	font-size: 2em;
}

span, p, div {
	font-family: 'Calibri';
	font-size: 11pt;
	line-height: 1.2em;
}

p {
	clear: both;
	text-align: justify;
}

a {
	color:#7D8;
	text-decoration:underline;
}

button {
    font-size: inherit;
    background-color: #eee;
    border-radius: 5px;
    border: none;
}

.j_flex_row {
	display: flex;
	flex_direction: row;
}

.j_col {
	order: 1;
	flex-grow: 0;
}

.j_col_expand {
	order: 1;
	flex-grow: 1;
}

a:hover {
	color:#F00;
}

.j_container {
	width: 60%;
	margin-left: 20%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .j_container {
        width: 100%;
        margin-left: 0px;
    }
}

.j_100_width {
	width: 100%;
}

.j_login_form {
	width: 200px;
	margin: auto;
}

.j_login_form input {
	clear: both;
	display: block;
	width: 98%;
}

.j_user_avatar {
	width: 100px;
	height: auto;
}

.j_user_avatar_container {
	float: left;
	position: relative;
	left: -5px;
    margin: 5px;
	width: 100px;
	height: 100px;
}

.j_blog_header {
	text-align: center;
	margin-top: 5px;
}

.j_room_avatar_picker {
    cursor: pointer;
    min-width: 150px;
}

.j_room_avatar_placeholder {
	background-color: #77dd88;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 150px;
}

.j_room_avatar {
    width: 100%;
    height: auto;
    max-width: 150px;
}

.j_room_avatar_placeholder i {
    margin-top: 55px;
}

.j_blog_topic {
	margin-bottom: 25px;
}

.j_blog_post_content {
	margin-bottom: 10px;
}

.j_blog_post_content img {
	max-width: 100%;
}

.j_blog_post_written_by {
	opacity: 0.8;
	width: 80%;
	float: right;
	text-align: right;
}

.j_comment button {
	float: right;
}

.j_comment_sender_avatar_container {
	margin: 5px;
	float: left;
}

.j_comment_sender_name {
	font-weight: 700;
	line-height: 3.4em;
}

.j_comment_sender_name.guest {
	line-height: 1.2em;
}

.j_comment_sender_avatar {
	width: 32px;
	height: auto;
}

